
body {
    padding-top: 20px;
    padding-bottom: 20px;
}

.header {
    margin-bottom: 10px;
}

.header .btn {
    margin-top: 18px;
    margin-left: 10px;
    background-color: #eeeeee;
}

.header .btn:hover {
    background-color: #fefefe;
}

#queue-table thead {
    border: 1px solid #cccccc;
}

#queue-table thead tr th {
    border: none;
}

#queue-table tbody tr td {
    border: none;
}

.notification-wrapper {
    position: absolute;
    right: 30px;
    top: 30px;
    width: 340px;
}

.notification {
    margin-bottom: 10px;
}

.notification .glyphicon {
    margin-right: 5px;
}

.notification.ng-move,
.notification.ng-enter,
.notification.ng-leave {
  -webkit-transition: all linear 1s;
  transition: all linear 1s;
}

.notification.ng-leave.ng-leave-active,
.notification.ng-move,
.notification.ng-enter {
  opacity: 0;
}

.notification.ng-leave,
.notification.ng-move.ng-move-active,
.notification.ng-enter.ng-enter-active {
  opacity: 1;
}
